<div>
  <div class="mb-3">
    <h4>Plants' Data Contribution</h4>
    <div class="plants-list my-3">
      <% @plants.each do |plant| %>
        <%= link_to plant_path(plant) do %>
          <div class="avatars-list center rd m-3 yellow" style="height: <%= (plant.size)*(0.25).to_f %>rem; width: <%= (plant.size)*(0.25).to_f %>rem">
            <%= plant.name.capitalize if plant.user_id == current_user.id %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <h4>My Plant Collection</h4>
    <div class="plants-list my-3">
      <% @user.collections.each do |collection| %>
        <%= link_to plant_path(collection.plant) do %>
          <div class="avatars-list center rd m-3" style="height: <%= (collection.plant.size)*(0.25).to_f %>rem; width: <%= (collection.plant.size)*(0.25).to_f %>rem">
            <%= collection.plant.name.capitalize %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-flex">
      <h4 class="mr-5">My Garden Collection</h4>
      <button
        type="button"
        class="btn btn-warning button-add-sm"
        data-toggle="modal"
        data-target="#newGardenFormModal"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="my-3">
      <% @user.gardens.each do |g| %>
          <div class="card-lg d-flex flex-column">
            <div class="card-top d-flex justify-content-between px-3 w-100 border-bottom">
              <%= link_to garden_path(g) do %>
                <h5 class="card-title"><%= g.name.capitalize %></h5>
              <% end %>
              <%= link_to garden_path(g), method: :delete, data: { confirm: "Are you sure?"}, class: "" do %>
                <div>&times;</div>
              <% end %>
            </div>
            <div class="d-flex flex-column px-3 pt-2 w-100">
              <div><strong>City:</strong> <%= g.city.name.capitalize || "city n/a" %></div>
              <div><strong>Size:</strong> <%= g.width.to_i %> &times; <%= g.length.to_i %></div>
            </div>
          </div>
      <% end %>
    </div>
  </div>

  <!-- Modal -->
  <%= render("new_garden_form_modal") %>
  <!-- Modal end -->

</div>
