<div>
  <div class="mb-3">
    <h4>Plants' Data Contribution</h4>
    <div class="plants-list my-3">
      <% @plants.each do |plant| %>
        <%= link_to plant_path(plant) do %>
          <div class="cards-list-ms m-3 yellow" style="height: <%= (plant.size)*5.to_i %>px; width: <%= (plant.size)*5.to_i %>px">
            <%= plant.name.capitalize if plant.user_id == current_user.id %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <h4>My Plant Collection</h4>
    <div class="plants-list my-3">
      <% @user.collections.each do |collection| %>
        <%= link_to plant_path(collection.plant) do %>
          <div class="cards-list-ms m-3" style="height: <%= (collection.plant.size)*5.to_i %>px; width: <%= (collection.plant.size)*5.to_i %>px">
            <%= collection.plant.name.capitalize %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <div class="d-flex">
      <h4 class="mr-5">My Garden Collection</h4>
      <button
        type="button"
        class="btn btn-warning button-add-sm"
        data-toggle="modal"
        data-target="#newGardenFormModal"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="plants-list my-3">
      <% @user.gardens.each do |garden| %>
        <%= link_to garden_path(garden) do %>
          <div class="" >
            <%= garden.name.capitalize %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Modal -->
  <div id="newGardenFormModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create a new garden</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <%= simple_form_for([@user, @garden]) do |f| %>
            <%= f.association :zone, collection: Zone.all.map { |zone| [zone.zone_code, zone.id]},
                                     :include_blank => "Pick a zone"
                                     %>
            <%= f.input :name %>
            <%= f.input :width, :placeholder => "in cm", input_html: { min: 0, step: 0.5 } %>
            <%= f.input :length, :placeholder => "in cm", input_html: { min: 0, step: 0.5 } %>
            <%= f.button :submit, class: "btn btn-warning mt-3 w-100" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal end -->

</div>
