<%= content_for(:navbar_home, "navbar-home") %>
<%= content_for(:navbar_icon_home, "navbar-icon-home") %>

<%= render 'shared/banner' %>
<div class="container home py-5 d-flex flex-column justify-content-center">
  <div class="my-3">
    <h2 class="py-3 text-center"><strong>About Us</strong></h2>
    <p><span class="text-title text-lg mr-2">Garden Plan</span> provides essential assitance for garden lovers. Users can build and plan personal gardens onsite. Important criteria would be presented with visual assistance. Reminders could be set to help daily plant management.</p>
    <p>Plant related data is contributed by users and can be obtained via RESTful API.</p>
    <div class="mt-4">
      <span>
        <%= link_to plants_path, class: "button-b" do %>
          Plan garden onsite
        <% end %>
      </span>
      <span class="ml-3">
        <%= link_to api_path, class: "button-b" do %>
          API Access Instruction
        <% end %>
      </span>
    </div>
  </div>


  <div class="container py-5">
    <div class="row d-flex flex-column align-items-center justify-content-center">
      <h2 class="my-3"><strong>Plants List</strong></h2>
      <div class="scrolling-container">
        <i id="scrollLeft" class="arrow left fas fa-chevron-left"></i>
        <div id="scrollContent" class="scrolling-wrapper py-3">
          <% @plants.each_with_index do |plant, index| %>
            <% if index < 6 %>
              <%= link_to plant_path(plant), class: "card-main" do %>
                <% if plant.photo.attached? %>
                  <div class="card-m-img"
                       style="background-image: url(<%= cl_image_path plant.photo.key, height:160, width: 220, crop: :fill %>)">
                  </div>
                <% else %>
                  <div class="card-m-img"
                       style="background-image: url(<%= cl_image_path "utamb4q9bjfe5st9zumg0wxlxo2r.jpg", height:160, width: 220, crop: :fill %>)">
                  </div>
                <% end %>
                <div class="card-m-info">
                  <div class="card-m-text"><%= plant.name.capitalize %></div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <i id="scrollRight" class="arrow right fas fa-chevron-right"></i>
      </div>
    </div>

  </div>






  <!--     <p>Plant data can be obtained via RESTful API service, in the format of JSON. An authentication code will be assigned to each user to control data access.</p>
      <p>Garden Plan API is based on simple REST principles. The endpoints return plant related data in JSON format.</p>
      <p>To access data through <strong>API</strong>, please follow the instruction below.</p>
      <p>
        <strong>Onsite garden planning</strong> is also available.
      </p> -->
