<div class="container py-5">
  <div class="row d-flex flex-column align-items-center justify-content-center">
    <h2 class="my-3"><strong>All Plants</strong></h2>
    <div id="plants-list-container" class="cards border-top">
      <% @plants.each do |plant| %>
        <%= link_to plant_path(plant), class: "card-main" do %>
          <% if plant.photo.attached? %>
            <div class="card-m-img"
                 style="background-image: url(<%= cl_image_path plant.photo.key, height:160, width: 220, crop: :fill %>)">
            </div>
          <% else %>
            <div class="card-m-img"
                 style="background-image: url(<%= cl_image_path "utamb4q9bjfe5st9zumg0wxlxo2r.jpg", height:160, width: 220, crop: :fill %>)">
            </div>
          <% end %>
          <div class="card-m-info">
            <div class="card-m-text"><%= plant.name.capitalize %></div>
          </div>
        <% end %>
      <% end %>
      <div class="btn btn-warning button-add" data-toggle="modal" data-target="#addNewGardenModalModal">
        <!-- <= link_to new_plant_path, class: "btn btn-warning button-add" do %> -->
          <i class="fas fa-plus"></i>
        <!-- < end %> -->
      </div>
    </div>
  </div>

    <!-- Modal -->
  <div id="addNewGardenModalModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add a new plant</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(@plant) do |f| %>
            <%= f.input :name %>
            <%= f.input :light, :collection => ["low", "medium", "high"] %>
            <%= f.input :size, :placeholder => "in cm", input_html: { min: 0, step: 0.5 }  %>
            <%= f.input :photo %>
            <%= f.button :submit, class: "btn btn-warning mt-3 w-100" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <!-- Modal end -->

</div>

