<div id="plant-index" class="container py-5">
  <div class="">
    <%= link_to new_plant_path, class: "btn btn-warning button-add" do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>

  <div class="row d-flex flex-column align-items-center justify-content-center">
    <h2 class="my-3"><strong>All Plants</strong></h2>

    <div class="cards">
      <% @plants.each do |plant| %>
        <%= link_to plant_path(plant), class: "card-main" do %>
          <% if plant.photo.attached? %>
            <div class="card-m-img"
                 style="background-image: url(<%= cl_image_path plant.photo.key, height:160, width: 220, crop: :fill %>)">
            </div>
          <% else %>
            <div class="card-m-img"
                 style="background-image: url(<%= cl_image_path "utamb4q9bjfe5st9zumg0wxlxo2r.jpg", height:160, width: 220, crop: :fill %>)">
            </div>
          <% end %>
          <div class="card-m-info">
            <div class="card-m-text"><%= plant.name.capitalize %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

