<div class="container py-5 mt-3 card">
  <div class="row justify-content-center">
    <div class="col-8">
      <h4 class="mb-3">Add a plant</h4>
      <%= simple_form_for(@plant) do |f| %>
        <%= f.input :name %>
        <%= f.input :light %>
        <%= f.input :size %>
        <%= f.button :submit, class: "btn btn-info mt-3 w-100" %>
      <% end %>

    </div>
  </div>
</div>
