<div class="container py-5 mt-3 card">
  <div class="row justify-content-center">
    <div class="col-8">
      <h4 class="mb-3">Add a plant</h4>
      <%= simple_form_for(@plant) do |f| %>
        <%= f.input :name %>
        <%= f.input :light %>
        <%= f.input :size %>

        <%= f.simple_fields_for(@plant_info_by_zone) do |df| %>

          <%= df.association :zone, collection: @zones %>
          <%= df.input :indoor_seeding %>
          <%= df.input :seeding_date, as: :date %>
          <%= df.input :transplant_date, as: :date %>

        <% end %>
        <%= f.button :submit, class: "btn btn-info mt-3 w-100" %>
      <% end %>
    </div>
  </div>
</div>
