<div class="container container-plant-show">
    <div class="row flex-column justify-content-center py-5">

      <div>
        <h2 class="container-title text-center"><strong><%= @plant.name.capitalize %></strong></h2 class="text-center mb-5">
        <div class="d-flex justify-content-around my-3">
          <div class="container-image">
            <% if @plant.photo.attached? %>
              <%= cl_image_tag @plant.photo.key, height:200, width: 280, crop: :fill %>
            <% else %>
              <%= cl_image_tag "utamb4q9bjfe5st9zumg0wxlxo2r.jpg", height:200, width: 280, crop: :fill %>
            <% end %>
          </div>
          <div class="containter-info d-flex flex-column justify-content-center" >
            <p><strong>Light:</strong> <%= @plant.light %></p>
            <p><strong>Size:</strong><%= sprintf("%.2f",@plant.size) %> cm</p>
            <div class="">
              <%= simple_form_for([@plant, @collection]) do |f| %>
                <%= f.button :submit,"Add to my collection", class: "button-b sm my-1 w-100" %>
              <% end %>
              <button type="button" class="button-b sm w-100" data-toggle="modal" data-target="#zoneDetailFormModal">Add zone detail</button>
            </div>
          </div>
        </div>

        <div class="container-list">
          <div class="card-lg-list">
            <% @plant.plant_info_by_zones.each do |p| %>
              <div class="card-lg">
                <div class="card-lg-title">
                  <h5><strong>Zone<span class="ml-3"><%= p.zone.zone_code %></span></strong></h5>
                </div>
                <div class="card-lg-detail">
                  <% if p.indoor_seeding %>
                    <p class="seeding-icon indoor">Seed Indoor</p>
                    <table class="seeding-detail">
                      <tr><td><strong>Seeding:</strong></td> <td class="ml-3"><%= p.seeding_date.strftime("%b-%d") %></td></tr>
                      <tr><td><strong>Transplant:</strong></td> <td class="ml-3"><%= p.transplant_date.strftime("%b-%d") %></td></tr>
                    </table>
                  <% else %>
                    <p class="seeding-icon outdoor">Seed Outdoor</p>
                    <table class="seeding-detail">
                      <tr><td><strong>Seeding:</strong></td> <td class="ml-3"><%= p.seeding_date.strftime("%b-%d") %></td></tr>
                    </table>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div id="zoneDetailFormModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add plant info based on zone</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <%= simple_form_for([@plant, @plant_info_by_zone]) do |f| %>
                <%= f.association :zone, collection: Zone.all.map { |zone| [zone.zone_code, zone.id]},
                                         :include_blank => "Pick a zone"
                                         %>
                <%= f.input :indoor_seeding %>
                <%= f.input :seeding_date, as: :date, start_year: 2020, end_year:2020, order: [:month, :day] %>
                <%= f.input :transplant_date, as: :date, start_year: 2020, end_year:2020, order: [:month, :day] %>
                <%= f.button :submit, class: "btn btn-warning mt-3 w-100" %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
      <!-- Modal end -->
    </div>
</div>
<!-- simple_fields_for --><!--
f.association :zone, collection: Zone.all.map { |zone| zone.zone_code },
                                   :include_blank => "Select a zone matches your local" -->
