<div class="container border">
    <div class="row flex-column justify-content-center p-5">

      <div>
        <h2 class="text-center mb-5"><strong><%= @plant.name.capitalize %></strong></h2 class="text-center mb-5">
        <div class="d-flex justify-content-center mb-5">
          <div class="">
            <% if @plant.photo.attached? %>
              <%= cl_image_tag @plant.photo.key, height:200, width: 280, crop: :fill %>
            <% else %>
              <%= cl_image_tag "utamb4q9bjfe5st9zumg0wxlxo2r.jpg", height:200, width: 280, crop: :fill %>
            <% end %>
          </div>
          <div class="px-5 my-3 ml-5" >
            <p>Light: <%= @plant.light %></p>
            <p>Size: <%= @plant.size %>cm</p>
            <div class="">
              <%= simple_form_for([@plant, @collection]) do |f| %>
                <%= f.button :submit,"Add to my collection", class: "btn btn-info my-1 w-100" %>
              <% end %>
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#zoneDetailFormModal">Add Detail by Zone</button>
            </div>
          </div>
        </div>

        <div>
          <h4>Seeding detailed by zone:</h4>
          <span><%= @plant.plant_info_by_zones.count %></span>

          <% @plant.plant_info_by_zones.each do |p| %>
          <div class="card-lg p-3">
            <div class="card-lg-title">
              <h5><strong>Zone<span class="ml-1"><%= p.zone.zone_code %></span></strong></h5>
            </div>
            <div class="card-lg-detail">
              <!-- <h6 class="my-3">Seeding</h6> -->
              <% if p.indoor_seeding %>
                <p class="seeding-icon">Seed Indoor</p>
                <table class="seeding-detail">
                  <!-- <h6>Important Dates</h6> -->
                  <tr class="ml-3"><td>Seeding date: </td> <td><%= p.seeding_date.strftime("%b-%d") %></td></tr>
                  <tr class="ml-3"><td>Transplanting date: </td> <td><%= p.transplant_date.strftime("%b-%d") %></td></tr>
                </table>
              <% else %>
                <p class="seeding-icon">Seed Outdoor</p>
                <table class="seeding-detail">
                  <!-- <h6>Important Date</h6> -->
                  <tr class="ml-3"><td>Seeding date: </td> <td><%= p.seeding_date.strftime("%b-%d") %></td></tr>
                </table>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <!-- Modal -->
      <div id="zoneDetailFormModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add plant info based on zone</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <%= simple_form_for([@plant, @plant_info_by_zone]) do |f| %>
                <%= f.association :zone, collection: Zone.all.map { |zone| [zone.zone_code, zone.id]},
                                         :include_blank => "Pick a zone"
                                         %>
                <%= f.input :indoor_seeding %>
                <%= f.input :seeding_date, as: :date, start_year: 2020, end_year:2020, order: [:month, :day] %>
                <%= f.input :transplant_date, as: :date, start_year: 2020, end_year:2020, order: [:month, :day] %>
                <%= f.button :submit, class: "btn btn-warning mt-3 w-100" %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
      <!-- Modal end -->
    </div>
</div>
<!-- simple_fields_for --><!--
f.association :zone, collection: Zone.all.map { |zone| zone.zone_code },
                                   :include_blank => "Select a zone matches your local" -->
