<div class="table-responsive">
  <h4 class="my-3">Plants Detail</h4>
  <table class="table table-hover">
    <thead  class="bg-warning">
      <tr>
        <th scope="col">Count</th>
        <th scope="col">Plant</th>
        <th scope="col">Seeding Place</th>
        <th scope="col">Seeding Date</th>
        <th scope="col">Transfer Date</th>
      </tr>
    </thead>
    <tbody>
      <% @garden.plants.uniq.each do |plt| %>
        <%= link_to plant_path(plt) do %>
          <tr>
            <td scope="row" data-plant-position-target="plantCount">
              <%= @garden.plants.select{|p| p.id == plt.id}.count.to_i %>
            </td>
            <td><%= plt.name.capitalize %></td>
            <% plant_zinfo = plt.plant_info_by_zones.select{ |info| info.zone_id == @garden.zone.id} %>
            <% if plant_zinfo != [] %>
              <td><%= plant_zinfo[0].indoor_seeding ? "Indoor" : "Outdoor" %></td>
              <td><%= plant_zinfo[0].seeding_date %></td>
              <td><%= plant_zinfo[0].transplant_date %></td>
            <% else %>
              <td><%= "n/a" %></td>
              <td><%= "n/a" %></td>
              <td><%= "n/a" %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
