<div>
  <div>
    <h4 class="my-3">Detail</h4>
    <table class="plant-detail__table">
      <thead>
        <tr class="tableHead test">
          <th>Count</th>
          <th>Plant</th>
          <th>Light</th>
          <th>Size</th>
          <th>Indoor Seeding</th>
          <th>Seeding Date</th>
          <th>Transplant Date</th>
          <th>Positiion X</th>
          <th>Positiion Y</th>
        </tr>
      </thead>
      <tbody>
        <% @garden.plants.uniq.each do |plt| %>
          <%= link_to plant_path(plt) do %>
            <tr>
              <td scope="row" data-plant-position-target="plantCount">
                <%= @garden.plants.select{|p| p.id == plt.id}.count.to_i %>
              </td>
              <td><%= plt.name.capitalize %></td>
              <% plant_zinfo = plt.plant_info_by_zones.select{ |info| info.zone_id == @garden.zone.id} %>
              <% if plant_zinfo != [] %>
                <td><%= plant_zinfo[0].indoor_seeding ? "Indoor" : "Outdoor" %></td>
                <td><%= plant_zinfo[0].seeding_date %></td>
                <td><%= plant_zinfo[0].transplant_date %></td>
              <% else %>
                <td><%= "n/a" %></td>
                <td><%= "n/a" %></td>
                <td><%= "n/a" %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <table>
      <thead>
        <tr class="tableHead test">
          <th>Plant</th>
          <th>Positiion X</th>
          <th>Positiion Y</th>
        </tr>
      </thead>
      <tbody>
        <% position = @garden.plant_position_by_gardens.last() %>
        <tr>
          <% if position %>
            <td><%= position.plant.name.capitalize %></td>
            <td><%= position.positionX %></td>
            <td><%= position.positionY %></td>
          <% else %>
            <td><%= "n/a" %></td>
            <td><%= "n/a" %></td>
            <td><%= "n/a" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
<!--   <div id="plant-position-form">
    < simple_form_for([@garden, @plant_position_by_garden]) do |f| %>
      < f.association :plant %>
      < f.input :positionX %>
      < f.input :positionY %>
      < f.button :submit, class: "btn btn-warning mt-3 w-100" %>
    < end %>
  </div> -->
</div>
