<div>
  <h4>Summary</h4>
  <table class="">
    <tr class="">
      <th>Plant</th>
      <th>Count</th>
      <th>Indoor Seeding</th>
      <th>Seeding Date</th>
      <th>Transfer Date</th>
    </tr>
    <tr>
      <% @garden.plants.each do |plant| %>
        <%= link_to plant_path(plant) do %>
          <tr>
            <td><%= plant.name.capitalize %></td>
            <td>#</td>
            <% plant_zinfo = plant.plant_info_by_zones.select{ |info| info.zone_id == @garden.zone.id} %>
            <td><%= plant_zinfo[0].indoor_seeding %></td>
            <td><%= plant_zinfo[0].seeding_date || "n/a" %></td>
            <td><%= plant_zinfo[0].transplant_date || "n/a" %></td>
          </tr>
        <% end %>
 <!--        <td>< @garden.plant.count %></td>
        <td>< @garden.plant.count %></td>
        <td>< @garden.plant.count %></td>
        <td>< @garden.plant.count %></td> -->
      <% end %>
    </tr>
  </table>
  <div class="plants-list my-3">
    <% @garden.plants.each do |plant| %>
      <%= link_to plant_path(plant) do %>
        <div class="cards-list m-3">
          <%= plant.name.capitalize %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
