<div class="container">
  <div class="row">
    <div class="col-xs-12 my-5">
      <h2 class="my-3"><%= @garden.name %></h2>
      <div class="border" style="height: <%= (@garden.width)*15.to_i %>px; width: <%= (@garden.length)*15.to_i %>px">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 my-5">
      <div class="mb-3">
        <h4>My Plant Collection</h4>
        <div class="plants-list my-3">
          <% @user.collections.each do |collection| %>
            <%= link_to plant_path(collection.plant) do %>
            <%= collection.plant.id %>
              <div
                class="draggable cards-list-ms"
                style="height: <%= (collection.plant.size)*5.to_i %>px; width: <%= (collection.plant.size)*5.to_i %>px; position: absolute "
              >
                <%= collection.plant.name.capitalize %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
