<head>
  <script type="text/javascript" scr="mousedown_to_drag.js"></script>
</head>

<div class="container d-flex">

  <div class="main-content justify-content-center">

    <div class="row">
      <div class="col-xs-12 mt-5">
        <h2 class="my-5"><%= @garden.name.capitalize %></h2>
        <div class="mb-3">
          <h4>My Plant Collection</h4>
          <section id="plantsToDrag" class="drag-target plants-list">
            <% @user.collections.each_with_index do |collection, i| %>
              <div
                class="cards-list rd draggable plantOrigin m-3 yellow"
                draggable="true"
                style="
                  height: <%= (collection.plant.size)*(0.25).to_f %>rem;
                  width: <%= (collection.plant.size)*(0.25).to_f %>rem;
                  cursor: copy "
              >
                <%= link_to plant_path(collection.plant) do %>
                  <%= collection.plant.name.capitalize %>
                <% end %>
                <div class="plant-detail__data" style="display: none;">
                  <% listPlant = collection.plant %>
                  <% plantInfo = listPlant.plant_info_by_zones.select{|z| z == @garden.city.zone} %>
                  <div class="plant-detail__id"><%= listPlant.id %></div>
                  <div class="plant-detail__name"><%= listPlant.name %></div>
                  <div class="plant-detail__light"><%= listPlant.light %></div>
                  <div class="plant-detail__size"><%= listPlant.size %></div>
                  <% if plantInfo && !plantInfo.empty? %>
                    <div class="plant-detail__inSeeding"><%= plantInfo.indoor_seeding %></div>
                    <div class="plant-detail__seedDate"><%= plantInfo.seeding_date %></div>
                    <div class="plant-detail__transDate"><%= plantInfo.transplant_date %></div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </section>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4 class="my-3">My Field</h4>
        <div class="garden-field-container">
          <section
               class="drop-field garden-field"
               style="height: <%= (@garden.width)*(0.25).to_f %>rem; width: <%= (@garden.length)*(0.25).to_f %>rem"
          >
          </section>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render("plant_info_list") %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render("plant_summary") %>
      </div>
    </div>

  </div>
</div>
