<head>
  <script type="text/javascript" scr="mousedown_to_drag.js"></script>
</head>

<div class="container">
  <div class="row">
    <div class="col-xs-12 my-5">
      <h2 class="my-3"><%= @garden.name %></h2>
<!--            ondrop="drop(e)"
           ondragover="allowDrop(e)" -->
      <section
           class="drop-field border"
           style="height: <%= (@garden.width)*15.to_i %>px; width: <%= (@garden.length)*15.to_i %>px"
      >
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 my-5">
      <div class="mb-3">
        <h4>My Plant Collection</h4>
        <section class="drag-target plants-list my-3">
          <% @user.collections.each_with_index do |collection, i| %>
              <!-- ondragstart="mousedownToDrag()" -->
            <div
              id=<%= i %>
              class="cards-list-ms draggable plantOrigin"
              draggable="true"
              style="height: <%= (collection.plant.size)*5.to_i %>px; width: <%= (collection.plant.size)*5.to_i %>px "
            >
              <%= link_to plant_path(collection.plant) do %>
                <%= collection.plant.name.capitalize %>
              <% end %>
            </div>
          <% end %>
        </section>
      </div>

    </div>
  </div>
</div>
