<head>
  <script type="text/javascript" scr="mousedown_to_drag.js"></script>
</head>

<div class="container">
  
  <div class="row">
    <div class="col-xs-12 mt-5">
      <h2 class="my-5"><%= @garden.name.capitalize %></h2>
      <div class="mb-3">
        <h4>My Plant Collection</h4>
        <section id="plantsToDrag" class="drag-target plants-list">
          <% @user.collections.each_with_index do |collection, i| %>
            <div
              id=<%= i %>;
              class="cards-list-ms draggable plantOrigin m-3 yellow"
              draggable="true"
              style="height: <%= (collection.plant.size)*(0.25).to_f %>rem;
                     width: <%= (collection.plant.size)*(0.25).to_f %>rem;
                     cursor: copy "
            >
              <%= link_to plant_path(collection.plant) do %>
                <%= collection.plant.name.capitalize %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="my-3">My Field</h4>
      <div class="garden-field-container">
        <section
             class="drop-field garden-field"
             style="height: <%= (@garden.width)*(0.25).to_f %>rem; width: <%= (@garden.length)*(0.25).to_f %>rem"
        >
        </section>
    </div>
    </div>
  </div>

</div>
