<head>
  <script type="text/javascript" scr="mousedown_to_drag.js"></script>
</head>

<div class="container d-flex mb-5">

  <div class="main-content justify-content-center"
       data-controller="plant-position"
       data-garden-id=<%= @garden.id %>
  >
    <%= content_tag :div, 
      class: "garden_info", 
      data: { garden: @garden, plant_position: @garden.plant_position_by_gardens } do %>
    <% end %>
    <div class="row">
      <div class="col-xs-12 mt-5">
        <%= render("plant_collection") %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render("garden_field") %>
      </div>
    </div>
    <div class="row">
      <div id="plant-sum"  class="col-xs-12">
        <%= render partial: "plant_summary" %>
      </div>
    </div>

  </div>
</div>
