<head>
  <script type="text/javascript" scr="mousedown_to_drag.js"></script>
</head>

<div class="container d-flex mb-5">

  <div class="main-content justify-content-center"
       data-controller="plant-position"
       data-garden-id=<%= @garden.id %>
  >
    <div class="row">
      <div class="col-xs-12 mt-5">
        <%= render("plant_collection") %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h4 class="my-3">My Field</h4>
        <div class="garden-field-container">
          <button
            class="btn btn-warning"
            data-action="click->plant-position#test"
          >
            Confirm
          </button>
          <div data-plant-position-target="plantInfo"></div>
          <section
              class="drop-field garden-field"
              style="
              position: relative;
                height: <%= (@garden.width)*(0.25).to_f %>rem;
                width: <%= (@garden.length)*(0.25).to_f %>rem"
          >
          <% if @garden.plant_position_by_gardens %>
            <%= content_tag :div, class: "garden_information", data: {garden: @garden, positions: @garden.plant_position_by_gardens} do %>
            <% end %>
            <% @garden.plant_position_by_gardens.each_with_index do |position, i| %>

                <div
                  id="position_<%= position.id %>"
                  class="cards-list rd draggable plantCopy"
                  draggable="true"
                  style="
                    height: <%= (position.plant.size)*(0.25).to_f %>rem;
                    width: <%= (position.plant.size)*(0.25).to_f %>rem;
                    position: absolute;
                    left: <%= (position.positionX) %>px;
                    top: <%= (position.positionY) %>px;
                    cursor: grab "
                >
                  <!-- < position.plant.name.capitalize %> -->
                  <%= position.positionX %>
                  <%= position.positionY %>
                </div>
            <% end %>
          <% end %>
          </section>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render("plant_info_list") %>
      </div>
    </div>

    <div class="row">
      <div id="plant-sum"  class="col-xs-12">
        <%= render partial: "plant_summary", locals: {garden: @garden} %>
      </div>
    </div>

  </div>
</div>
